#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.expression {
  border: 2px solid #0092ff;
  width: 100%;
  height: 50px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gutter-box {
  background: #00a0e9;
}

button {
  width: 100%;
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #0092ff;
  cursor: pointer;
}

